@use 'variables' as *;

// global menu panel used in header
.header-menu-panel.mat-menu-panel {
    min-width: var(--master-width);
    max-width: 100%;
    border-radius: 20px;
    box-shadow: 0 2px 10px 1px rgba($light, 0.5);

    .mat-menu-content {
        padding: 0;

        display: flex;
        flex-direction: column;
        max-height: inherit;
    }

    .header-menu-panel__header {
        display: flex;
        align-items: center;
        padding: 10px;
        box-shadow: 0 0px 16px 0px rgb(0 0 0 / 6%);

        h2 {
            margin-bottom: 0;
            margin-left: 10px;
        }
    }

    .header-menu-panel__content {
        padding: 10px 0;
        overflow: scroll;

        hr {
            margin-left: 10px;
            margin-right: 10px;
        }
    }
}

.header-menu-panel-backdrop,
.header-menu-panel-backdrop--search {
    background-color: rgba($light, 0.2);
}
.header-menu-panel-backdrop + div {
    right: 10px !important;
}

.header-menu-panel-backdrop--search + div {
    left: 50% !important;
    transform: translateX(-50%);
    max-width: $contentWidth;

    .cdk-overlay-pane {
        width: inherit;
    }
    .mat-menu-panel {
        height: 50vh;
        width: inherit;
    }
}
