@use 'apps/rapp/src/assets/styles' as *;

/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.container {
    padding: 20px;
}

.spacer {
    flex: 1 1 100%;
}
.small-spacer {
    padding: 0 5px;
}
.flex {
    display: flex !important;
}
.flex-wrap {
    flex-wrap: wrap;
}
.flex-center {
    justify-content: center;
}
.align-center {
    align-items: center;
}

.ml-4 {
    margin-left: 4px !important;
}
.mr-4 {
    margin-right: 4px !important;
}
.mh-0 {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.m-10 {
    margin: 10px;
}
.mb-20 {
    margin-bottom: 20px;
}
.mb-0 {
    margin-bottom: 0 !important;
}
.pb-0 {
    padding-bottom: 0 !important;
}

.mat-icon.toolbar-icon {
    height: 28px;
    width: 28px;
    font-size: 28px;
}
.mat-button-base:not(.mat-primary) .mat-icon.toolbar-icon {
    color: $light;
}

.mat-ripple {
    cursor: pointer;
}

.item-wrapper {
    box-shadow: 0 2px 10px 1px rgba($light, 0.5);
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
}
