@use 'apps/rapp/src/assets/styles' as *;

/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.spacer {
    flex: 1 1 100%;
}

.small-spacer {
    padding: 0 5px;
}

.ml-4 {
    margin-left: 4px !important;
}
.mr-4 {
    margin-right: 4px !important;
}

.mat-icon.toolbar-icon {
    height: 28px;
    width: 28px;
    font-size: 28px;
    color: $light;
}

.mat-ripple {
    cursor: pointer;
}

.cdk-overlay-backdrop + .cdk-global-overlay-wrapper + .cdk-overlay-backdrop {
    background: transparent;
}
